name: Build R package on release

on:
  release:
    types: [published, prereleased]

jobs:
  build-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Installe R
      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      # Build du package (sort un *.tar.gz)
      - name: Build source package
        run: |
          R CMD build .
          ls -l

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          build_args: 'c("--no-manual","--compact-vignettes=gs+qpdf")'
        continue-on-error: false

      # Upload dans la release GitHub
      - name: Upload built package to release
        uses: softprops/action-gh-release@v2
        with:
          files: "*.tar.gz"
